version: '2.4.4.{build}'

# Do not build on tags (GitHub only)
skip_tags: true
clone_depth: 1

image:
  - macos

branches:
  only:
    - master     
        

#environment:
#  GITHUB_TOKEN:
#    secure: 9UB76Z8mCWYt1u7Ci2fPVNiI3iK3LzTuIPhtNGBbxKP7YOPaUuq2yHxRjIfRPEAx
#  UPLOADTOOL_BODY:
#    "WARNING: pre-release builds may not work. Use at your own risk.â€



environment:
  ARTISAN_OS: osx
  PYTHON: ~/venv3.8
  language: generic
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  HOMEBREW_NO_ANALYTICS: 1
  MACOSX_DEPLOYMENT_TARGET: 10.15

install:
  - export GIT_VERSION=`git rev-parse --verify --short HEAD 2>/dev/null|| echo "???"`
  - sed -i'' -e "s/__revision__ = '0'/__revision__ = '$GIT_VERSION'/" src/artisanlib/__init__.py
#   don't know why the shell files lost execution permission when shifting to the new-builds repo
  - chmod 777 ./.travis/*.sh
  - .travis/install-${ARTISAN_OS}.sh

build_script:
#   don't know why the shell files lost execution permission when shifting to the new-builds repo
  - chmod 777 src/*.sh
  - .travis/script-${ARTISAN_OS}.sh
  
artifacts:
  - path: 'src/artisan-*.dmg'
