version: '2.4.5.{build}'

# Do not build on tags (GitHub only)
skip_tags: true
clone_depth: 1

image:
  - Visual Studio 2019
  - macos
  - Ubuntu1604

branches:
  only:
    - master     

configuration:
  - Release
  - Debug
        
stack:
  python 3.8

#environment:
#  GITHUB_TOKEN:
#    secure: 9UB76Z8mCWYt1u7Ci2fPVNiI3iK3LzTuIPhtNGBbxKP7YOPaUuq2yHxRjIfRPEAx
#  UPLOADTOOL_BODY:
#    "WARNING: pre-release builds may not work. Use at your own risk.â€


for:
-
  matrix:
    only:
      - image: Visual Studio 2019
  exclude:
    - configuration: Release

  environment:
    PYTHON: "C:\\Python38-x64"
    PYTHON_VERSION: 3.8.x

  install:
    - echo 'Install Windows'
#    - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  build_script:
    - echo 'Build Windows'

-
  matrix:
    only:
      - image: macos

  environment:
    ARTISAN_OS: osx
    PYTHON: ~/venv3.8
    language: generic
    HOMEBREW_NO_INSTALL_CLEANUP: 1
    HOMEBREW_NO_ANALYTICS: 1
    MACOSX_DEPLOYMENT_TARGET: 10.15

  install:
    - echo 'Install OSX'
#    - export GIT_VERSION=`git rev-parse --verify --short HEAD 2>/dev/null|| echo "???"`
#    - sed -i'' -e "s/__revision__ = '0'/__revision__ = '$GIT_VERSION'/" src/artisanlib/__init__.py
#    - chmod 777 ./.ci/*.sh

  build_script:
    - echo 'Build OSX'
#    - chmod 777 src/*.sh

-
  matrix:
    only:
      - image: Ubuntu1604
#    fast_finish: true

  environment:
    ARTISAN_OS: linux
    PYTHON: $HOME/venv3.8
  install:
    - echo 'Install Linux'
#    - chmod 777 ./.ci/*.sh
#    - export GIT_VERSION=`git rev-parse --verify --short HEAD 2>/dev/null|| echo "???"`
  build_script:
      - echo 'Build Linux'
#    - chmod 777 src/*.sh
